.book-details-container {
  padding: 20px;
  width: 100%;
  margin: 0 auto;
}

.book-details-container img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.book-details-container h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.book-details-container p {
  font-size: 1rem;
  margin-bottom: 10px;
}

.productdashboardBoxWrapper {
  padding: 20px;
}

.productDetailsSection {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.sliderWrapper {
  margin-bottom: 20px;
}

.slider-big .item {
  text-align: center;
}

.slider-small .item {
  cursor: pointer;
}

.productInfo .row {
  margin-bottom: 10px;
}

.productInfo .icon {
  margin-right: 10px;
}

.productInfo .name {
  font-weight: bold;
}