.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(159, 176, 199, 0.9); /* Slightly transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.3s ease-out, transform 0.3s ease-out; /* Adjust timing here */
}

/* Fade-out effect for the preloader */
.preloader.fade-out {
  opacity: 0;
  transform: scale(0.9); /* Shrinks a bit during fade-out */
}
.preloader-video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 95vw;
  height: 45vh;
  object-fit: cover;
  transform: translate(-50%, -50%);
}
