.Footer {
  padding: 1rem;
  position: absolute;
  width: 97.5vw;
  bottom: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: medium !important;
  background-color: #3f51b5;
}

.FooterBtn{
    padding: 5px 10px ;
    border-radius: 25%;
   color:rgba(0, 0, 0, 0.54) ;
   text-transform: capitalize !important;
   transition: .5s ease;
}


.FooterBtn:hover{
    text-decoration: underline !important;
    font-weight: bold;
}
