.homecardContainer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.card-slider {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 10px;
}

.card-container {
  flex: 0 0 auto;
  margin-right: 20px;
}

.card {
  width: 300px;
  height: auto !important;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-right: 20px;
}

.card-img-top {
  width: 100%;
  height: auto !important;
}

.card-body {
  padding: 15px;
}

.card-title {
  font-size: 1.25rem;
  margin-bottom: 10px;
}

.card-text {
  font-size: 1rem;
  color: #555;
}

.text-body-secondary {
  color: #888;
}

.cart-container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.container {
  grid-template-columns: 1fr;
}
